<!-- agents top nav -->

<!--<h1><font color="red">Agent tab is under maintenance.</font></h1> -->
<ul class="nav nav-tabs">

<li #{if (page == "index")} class="active" #{/if}><a href="/wizards"><i class="fa fa-magic"></i> Summary</a></li>




<li #{if (page == "wizardToAdhocNodeGroup")} class="active" #{/if}><a href="/wizards/wizardToAdhocNodeGroup"><i class="fa fa-magic"></i> Command Wizard To Adhoc Node Group</a></li>


<li #{if (page == "singleServerWizard")} class="active" #{/if}><a href="/wizards/singleServerWizard"><i class="fa fa-magic"></i> Single Server Wizard</a></li>



</ul>
<div class="row">

</div>	

<script type="text/javascript">
var getHttpMethodLabel=function(httpMethod){
	 
	
	var output = null;
	if(httpMethod=== "GET"){
		output ="<span class=\"label label-success\">" + httpMethod + "</span> ";
	} else if(httpMethod=== "POST" || httpMethod=== "PUT"){
		output ="<span class=\"label label-warning\">" + httpMethod + "</span> ";
	} else if(httpMethod=== "DELETE"){
		output ="<span class=\"label label-important\">" + httpMethod + "</span> ";
	}
	  
	 document.write(output);
	 
	 return;
}
</script>