<!-- agents top nav -->

<!--<h1><font color="red">Agent tab is under maintenance.</font></h1> -->
<ul class="nav nav-tabs">
<li #{if (page == "index")} class="active" #{/if}><a href="/config"><i class="fa fa-search"></i> Show Config </a></li>
<li #{if (page == "editConfignodegroup")} class="active" #{/if}><a href="/config/editConfig/nodegroup"><i class="fa fa-pencil"></i> Edit NodeGroup Config</a></li>
<li #{if (page == "editConfigagentcommand")} class="active" #{/if}><a href="/config/editConfig/agentcommand"><i class="fa fa-pencil"></i> Edit Command Config</a></li>
<li #{if (page == "editConfigaggregation")} class="active" #{/if}><a href="/config/editConfig/aggregation"><i class="fa fa-pencil"></i> Edit Aggregation</a></li>
<li #{if (page == "editConfighttpheader")} class="active" #{/if}><a href="/config/editConfig/httpheader"><i class="fa fa-pencil"></i> Edit HttpHeader</a></li>
<li #{if (page == "getAgentCommand")} class="active" #{/if}><a href="/config/getAgentCommand"><i class="fa fa-search"></i> Current Command</a></li>
<li #{if (page == "getNodeGroup")} class="active" #{/if}><a href="/config/getNodeGroup"><i class="fa fa-search"></i> Current NodeGroup </a></li>
<li #{if (page == "getAggregation")} class="active" #{/if}><a href="/config/getAggregation"><i class="fa fa-search"></i> Current Aggregation</a></li>
<li #{if (page == "getHttpHeader")} class="active" #{/if}><a href="/config/getHttpHeaders"><i class="fa fa-search"></i> Current HttpHeader</a></li>

<li #{if (page == "reloadConfig")} class="active" #{/if}><a href="/config/reloadConfig"><i class="fa fa-refresh"></i> Reload Config </a></li>

<li #{if (topnav == "agents")} class="active" #{/if}><a href="/agents/resetData"><i class="fa fa-trash-o"></i> Clear All Data</a></li>
<li #{if (page == "editConfignotes")} class="active" #{/if}><a href="/config/editConfig/notes"><i class="fa fa-search"></i> Notes</a></li>
</ul>
<div class="row">

</div>	

<script type="text/javascript">

var getAlertAndWrite=function(alert){
	 
	//threshold is generally 80%. 
	var output = null;
	if(alert){
		output ="<div class=\"alert alert-success\">" + alert + "</div>";
	} else {
		output ="";
	}
	  
	 document.write(output);
	         	
	 return;
}

</script>