<script>	
	$(document).ready(function() {
	     $('#${_tableName}').dataTable( {
	        "sDom":"<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>",
	         "sPaginationType": "bootstrap",
	         
	         // 20130909 FIX     "bPaginate":true, is the key to fix the 2nd page show all bug
	         "bPaginate":true,
	         "iDisplayLength": ${_defaultSize},
	         "aaSorting": ${_sortSpec},
	         "aLengthMenu": [[5, 10, 25, 50, 100, -1], [5, 10, 25, 50, 100, "All"]],
	         "oLanguage": {
				"sLengthMenu": "_MENU_ records"
			}
	     } );
	} );
	
	$.extend( $.fn.dataTableExt.oStdClasses, {
	"sWrapper": "dataTables_wrapper form-inline"
	} );
</script>