#{include 'Application/top_head.html'/}
#{include 'Application/top_nav.html'/}


#{data-table-init tableName:'dir-list-all', defaultSize:'10', , sortSpec:'[]' /}
#{data-table-init tableName:'file-list-all', defaultSize:'50', , sortSpec:'[]' /}
<div class="container">
	#{include 'Logs/lognav.html'/}
#{include 'tags/refresh.html'/}


	<script  type="text/javascript">
		
    var generateIcon=function(healthStr){
   	
					var	iconDiskHealthy="";
					
					if(healthStr==true){
						iconDiskHealthy=" <i class=\"icon-ok\"></i>"
					}else{
						iconDiskHealthy=" <i class=\"icon-remove\"></i>"
					}
					document.write(iconDiskHealthy);
					
    }
    </script>

<h2>Directories and Files </h2>


	<div  id="agent-list-all-row">
		<br/>
	<h4>Directories under Path "${path}"</h4>
	<br/>
			#{table-declare tableName:'dir-list-all' /}
			<thead>
				<tr>
					<th>No.</th>
					<th>FileName</th>
					<th>Access</th>
				</tr>
			</thead>
			<tbody>
				#{list items:dirNames, as:'logObj'}
				<tr>
					<td>${logObj_index}</td>
					<td>
					    
					    <a href="/logs/exploreFiles?path=${path}/${logObj}" >${logObj}</a> 
					</td>
					
					<td>   
						<a href="/logs/exploreFiles?path=${path}/${logObj}" ><i class="fa fa-folder-open fa-lg"></i></a> 
					</td>   
					
					
				</tr>
				#{/list}
			</tbody>
		</table>

	</div>
	
	
	
	<div  id="agent-list-all-row">
	<br/>
	<h4>Files under Path "${path}"</h4>
		<br/>
			#{table-declare tableName:'file-list-all' /}
			<thead>
				<tr>
					<th>No.</th>
					<th>FileName</th>
					<th>Download</th>
				</tr>
			</thead>
			<tbody>
				#{list items:fileNames, as:'logObj'}
				<tr>
					<td>${logObj_index}</td>
					<td>
					     
					    <a target="_blank" href="/logs/fileContent?filePath=${path}/${logObj}" >${logObj}</a> 
					</td>
					<td>   
						<a target="_blank" href="/logs/fileContent?filePath=${path}/${logObj}" ><i class="fa fa-download fa-lg"></i></a> 
					</td>   
					
				</tr>
				#{/list}
			</tbody>
		</table>

	</div>


#{include 'Logs/logfooter.html'/}





</div>
#{include 'Application/footer.html'/}
</body>
</html>