#{include 'Application/top_head.html'/}
#{include 'Application/top_nav.html'/}


#{data-table-init tableName:'log-list-all', defaultSize:'50', , sortSpec:'[]' /}

<div class="container">
#{include 'Logs/lognav.html'/}
#{include 'tags/refresh.html'/}


	<script  type="text/javascript">
		
    var generateIcon=function(healthStr){
   	
					var	iconDiskHealthy="";
					
					if(healthStr==true){
						iconDiskHealthy=" <i class=\"icon-ok\"></i>"
					}else{
						iconDiskHealthy=" <i class=\"icon-remove\"></i>"
					}
					document.write(iconDiskHealthy);
					
    }
    </script>

<h2>Log Analysis with Response Aggregation</h2>

<p>

Edit the regular expression used for extracting value in response: <a href="/config/editConfig/aggregation" class="btn btn-small" target="_blank"><i class="fa fa-pencil fa-lg"></i> Edit Aggregation</a>
</p>

	<div  id="agent-list-all-row">
		<br/>
			#{table-declare tableName:'log-list-all' /}
			<thead>
				<tr>
					<th>No.</th>
					<th>Command</th>
					<th>NodeGroup</th>
					<th>TimeStamp</th>
					<th>Download</th>
					<th>Aggregation</th>
				</tr>
			</thead>
			<tbody>
				#{list items:logFiles, as:'logObj'}
				<tr>
					<td>${logObj_index}</td>
					<td>
						<a target=_blank href="/commands/agentCommandType/${logObj.agentCommandType}" >${logObj.agentCommandType}</a> 
					</td>
					<td>
					    <a target=_blank href="/nodeGroups/nodeGroupType?nodeGroupType=${logObj.nodeGroupType}" >${logObj.nodeGroupType}</a> 
					</td>
					<td>${logObj.getTimeStampFormatSdsm()}</td>
					
					<td>   
						<a target=_blank href="/logs/logContent/${logObj.generateFileName()}" ><i class="fa fa-download fa-lg"></i></a> 
					</td>   
					
					<td>   
						<a target=_blank href="/agents/aggregatePieChart?nodeGroupType=${logObj.nodeGroupType}&agentCommandType=${logObj.agentCommandType}&timeStamp=${logObj.timeStamp}&rawDataSourceType=LOG_FILE&aggrRule=SUPERMAN_SPECIAL_STATUS_CODE" >
						<i class="fa fa-picture-o fa-lg"></i></a> 
						&nbsp;&nbsp;
						<a target=_blank href="/agents/aggregatePieChart?textOnly=true&nodeGroupType=${logObj.nodeGroupType}&agentCommandType=${logObj.agentCommandType}&timeStamp=${logObj.timeStamp}&rawDataSourceType=LOG_FILE&aggrRule=SUPERMAN_SPECIAL_STATUS_CODE" >
						<i class="fa fa-list fa-lg"></i></a> 
						
					</td>  
					
				</tr>
				#{/list}
			</tbody>
		</table>

	</div>

#{include 'Logs/logfooter.html'/}





</div>

	#{include 'Application/footer.html'/}
</body>
</html>