<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/jquery-ui.min.js"></script>

<script src="//ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/jquery.dataTables.min.js"></script>
<script src="/public/javascripts/DT_bootstrap.js"></script>
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/js/bootstrap.min.js"></script>
<script src="/public/javascripts/app-tracking.js"></script>
<script src="/public/javascripts/app-logerror.js"></script>
<script src="/public/javascripts/json.debug.js"></script>

<script type="text/javascript" src="//secureinclude.ebaystatic.com/js/v/us/roverlv.js"></script>
  
  
