

<footer class="footeridx">
  <div class="container">
    <span style="float:right">&copy; 2013-2014 eBay Software Foundation
    </span>
    
      <span style="float:left">
      
       
        <a href="/">Home</a>   &middot;
    <a href="/monitor" target=_blank>Health</a> &middot;
    <a href="/config">Config</a> &middot;
    <a href="http://restsuperman.com">Run Book</a> &middot;
    <a href="https://github.com/eBay/restsuperman" target=_blank>GitHub</a>
    </span>
  
  
    </div>
</footer>



