	

<div class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
			<a class="brand" href="/">Superman</a>
		<div class="container">
		
			<div class="nav-collapse">
				<ul class="nav">
					<li #{if (topnav == null || topnav == "home")} class="active" #{/if} ><a href="/">Home</a></li>
					
					<li #{if (topnav == "commands")} class="active" #{/if}><a href="/commands">Commands</a></li>	
					
					<li #{if (topnav == "nodeGroups")} class="active" #{/if}><a href="/nodeGroups">Nodes</a></li>	
					
					<li #{if (topnav == "wizards")} class="active" #{/if}><a href="/wizards">Wizards</a></li>				
					<li #{if (topnav == "logs")} class="active" #{/if}><a href="/logs">Logs</a></li>				
					
					<!--
					 -->
					  
					<li #{if (topnav == "config")} class="active" #{/if}><a href="/config"  title="Config" ><i class="fa fa-wrench"></i></a></li>
					
					<li #{if (topnav == "new")} class="active" #{/if}><a href="/whatsnew"  title="Release Notes -- What's New? " ><i class="fa fa-leaf"></i></a></li>
					
					
				</ul>
			</div>
		</div>
	</div>
</div>

