<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>REST Superman - Parallel Async HTTP Client</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="AKKA, AHC based REST Superman">
    <meta name="author" content="eBay Inc">
    
    <!-- Le styles -->
    
	
    <link href="/public/stylesheets/bootstrap-2.2.2.min.css" rel="stylesheet">
    
     <!-- OLD  
    <link href="/public/stylesheets/font-awesome.css" rel="stylesheet">
    -->
    <link href="/public/stylesheets/font-awesome.min.css" rel="stylesheet">
    <link href="/public/stylesheets/dt_bootstrap.css" rel="stylesheet">
    <link href="/public/stylesheets/bootstrap-responsive.min-2.2.1.css" rel="stylesheet">

    <!-- new for error agent list table: from JSON to HTML Table -->	
    <link href="/public/stylesheets/json2Table.css" rel="stylesheet">

	<!--  jquery-ui-1.8.21 style sheet -->
	<link href="/public/stylesheets/jquery-ui-1.8.21.custom.css" rel="stylesheet">
	
   
    </style>
    <link href="/public/stylesheets/octoboard.css" rel="stylesheet">

	<link href="/public/stylesheets/ceilometer.css" rel="stylesheet">

	<link href="/public/stylesheets/docs.css" rel="stylesheet">
	<!--  tree view style sheet -->
	<link href="/public/stylesheets/jquery.treeview.css" rel="stylesheet">
	
	<link href="/public/stylesheets/jquery.multiselect.css" rel="stylesheet">
	
	<link href="/public/stylesheets/jquery.multiselect.filter.css" rel="stylesheet">
	<link href="/public/stylesheets/jquery.taginput.css" rel="stylesheet">
	
    <link rel="shortcut icon" href="/public/images/ico/favicon.ico">
    <link rel="apple-touch-icon" href="images/ico/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/ico/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/ico/apple-touch-icon-114x114.png">
    
    <script src="/public/javascripts/jquery-1.10.2.min.js"></script>
    <script src="/public/javascripts/jquery.json-2.3.js"></script>
    <script src="/public/javascripts/jquery-ui-1.8.21.custom.min.js"></script>
    <script src="/public/javascripts/jquery.multiselect.filter.min.js"></script>
             
    <script src="/public/javascripts/jquery.dataTables.min.js"></script>
	<script src="/public/javascripts/DT_bootstrap.js"></script>
	
    <script src="/public/javascripts/jquery.tablesorter.min.js"></script>

    <script src="/public/javascripts/bootstrap.min-2.2.1.js"></script>
    
    
    <!-- 
     -->
    <script src="/public/javascripts/highcharts.js"></script>
	<script src="/public/javascripts/exporting.js"></script> 

	<script src="/public/javascripts/jquery.peity.min.js"></script>
	<script src="/public/javascripts/jquery.treeview.js"></script>
	<script src="/public/javascripts/jquery.multiselect.min.js"></script>
	

	<!-- new for error agent list table: from JSON to HTML Table-->
	<script src="/public/javascripts/json.htmTable.js"></script>
	<script src="/public/javascripts/json.debug.js"></script>
	
	<!-- add month picker jquery widget -->
	<script src="/public/javascripts/jquery.mtz.monthpicker.js"></script>
    <script type="text/javascript" src="//secureinclude.ebaystatic.com/js/v/us/roverlv.js"></script>
    <script src="/public/javascripts/jquery.tagsinput.js"></script>
    
    
  </head>

  <body>
  
  
