#{include 'Application/top_head.html'/}
#{include 'Application/top_nav.html'/} 

<div class="container">

<div class="container">
<h3>What's New?</h3>
</div>

		<br/><h4>January 28, 2014 </h4>
		<ul>
			
			<li>Rebranding. Change node group related to restsuperman. NOTICE - NEW NAME, SAME CODE and SCALABILITY: With increased popularity, our legal department further inspected the project and would like a minor change on the name. The project name is now changed to REST Commander. We will ensure a smooth transition. No worry, all the code and functions will remain the same. 2014/01/23</li>
		</ul>

		<br/><h4>January 10, 2014 </h4>
		<ul>
			
			<li>Refined the wizards with default aggregation on HTTP response code.</li>
		</ul>
		
		<p><a href="/whatsold">Older</a></p>
	
	#{include 'Application/footer.html'/}
</div>
</body>
</html>


