/* Side Nav */
.sidebar-nav {
        padding: 9px 0;
      }

.circledash{
width:60px;
height:60px;
margin:10px auto;
background:#eee url("../img/header-back.png") repeat;
border-radius:2px;
border:3px solid #fff;
box-shadow:0px 0px 3px #aaa;
text-align:center;
-webkit-transition:border 1s ease;
-moz-transition:border 1s ease;
-o-transition:border 1s ease;
transition:border 1s ease;
}

.circledash:hover{
-webkit-transition:border 1s ease;
-moz-transition:border 1s ease;
-o-transition:border 1s ease;
transition:border 1s ease;
}

/* Features */

.features {
	margin-top:100px;
}

.feat-a{
width:48%;
float:left;
margin-right:10px;
}

.feat-b{
width:48%;
float:right;
}

.feat{
padding:0px;
border-bottom:1px solid #eee;
}

.feat h1{
font-size:48px;
margin-bottom:5px;
}




/* Padding for form buttons */      
.avail-form-div .btn {
	padding: 8px 20px !important;
}

span.L1{
  margin-bottom: 20px;
  font-size: 15px;
  font-weight: 200;
  line-height: 30px;
}

span.L2{
  margin-bottom: 20px;
  font-size: 13px;
  font-weight: 200;
  line-height: 30px;
}

span.L1.Ordered, span.L2.Submitted, span.L2.Ordered{
	color: #4572A7;
}

span.L1.ColdCache, span.L2.Received, span.L2.InTransit, span.L2.InStock, span.L2.On-boarded{
	color:#AA4643;
}

span.L1.WarmCache,span.L2.BmCache, span.L2.BmCacheReserved, span.L3 {
	color:#80699B;
}

span.L1.Allocated,span.L2.HypervisorCache, span.L2.PhysicalAllocatedServer{
	color:#89A54E;
}
span.L1.Faulty,span.L2.WarmCache, span.L2.ColdCache, span.L2.Allocation{
	color:#A47D7C;
}
span.L1.Eol{
	color:#DB843D;
}
span.L1.Unknown, span.L2.Bad,span.L2.Duplicate, span.L2.Missing,span.L2.EbayBreakage, span.L2.EvaluationAssets{
	color:#92A8CD;
}

.export, .exportOrdered {
margin-top: 10px;  
}
