/* =======================================

    Main Stylesheet

    Building on Twitter Bootstrap
    http://twitter.github.com/bootstrap/

========================================== */

/* New styles below */

label.valid {
	width: 24px;
	height: 24px;
	background: url(/public/images/valid.png) center center no-repeat;
	display: inline-block;
	text-indent: -9999px;
}
label.error {
	font-weight: bold;
	color: red;
	padding: 2px 8px;
	margin-top: 2px;
}