#{include 'Application/top_head.html'/}
#{include 'Application/top_nav.html'/}


#{data-table-init tableName:'list-all', defaultSize:'50', , sortSpec:'[]' /}

<div class="container">
	#{include 'Commands/commandsnav.html'/}
#{include 'tags/refresh.html'/}

<h2>Commands Defined in Config</h2>
	<div  id="list-all-row">
		<br/>
			#{table-declare tableName:'list-all' /}
			<thead>
				<tr>
					<th>No.</th>
					<th>Type</th>
					<th>httpMethod</th>
					<th>Protocol</th>
					<th>Port</th>
					<th>HttpHeader</th>
					<th>UrlPostfix</th>
					<th>Request Content Template</th>
					<th>MaxConcurrency</th>
					<th>ExtractFrom</th>
					<th>ExtractTo</th>
				</tr>
			</thead>
			<tbody>
				#{list items:commands, as:'obj'}
				<tr>
					<td>${obj_index}</td>
					<td>   
						<a target=_blank href="commands/agentCommandType/${obj.agentCommandType}" >${obj.agentCommandType}</a> 
					</td>   
					<td>
					<script type="text/javascript">	
					getHttpMethodLabel("${obj.httpMethod}");
					</script>
					
					</td>
					
					<td>${obj.requestProtocol}</td>
					<td>${obj.requestPort}</td>
					
					<td>
						<a target=_blank href="/config/getHttpHeaders?httpHeaderType=${obj.httpHeaderType}" >${obj.httpHeaderType}</a> 
					</td>
					
					<td>${obj.requestUrlPostfix}</td>
					<td>${obj.requestContentTemplate}</td>					
					<td>${obj.maxConcurrency}</td>
					<td>${obj.responseExtractIndexStart}</td>
					<td>${obj.responseExtractIndexEnd}</td>
				</tr>
				#{/list}
			</tbody>
		</table>

<p><br/>* MaxConcurrency value 0 or negative: will use the default value of 1500 (defined as MAX_CONCURRENT_SEND_SIZE in application.conf).</p>
	</div>






</div>
	#{include 'Application/footer.html'/}
</body>
</html>